.Banner{
    position:relative;
    display: block;
    background-color: rgb(223, 235, 255);
    border-radius: 16px;
    height: 150px;
    transition: 0.5s;
    margin: 1rem;
    width:100%;
}
.Banner:hover{
    height:20rem;
}

.BannerContent,
.BannerTitle,
.BannerText,
.BannerBold {
    margin: 1rem;
    padding: 0;
    align-items: center;
    justify-content: center;
}

    .BannerContent{
        position: relative;
        margin: 1rem;
        
    }

    .BannerTitle{
        position: relative;
        color: transparent;
        font-size: 4rem; /* 增大字号，可以根据需要调整 */
        display: inline-block;
        line-height: 1; 
        margin-top: 0;
        padding:0;
        top: 0px;
        line-height: 0.9;
        background: linear-gradient(to right,
        rgb(115, 103, 255),
        rgb(99, 107, 255),
        rgb(83, 92, 255),
        rgb(0, 128, 255));
        background-clip: text;
        background-size: 1000%;
        animation: TextAnim 2s infinite;
        margin-top: 10px;
    }
    @keyframes TextAnim {
        0% {
            background-position: 0% 20%;
        }
        25% {
            background-position: 50% 50%;
        }
        50% {
            background-position: 20% 75%;
        }
        75%{
            background-position: 100% 100%;
        }
        100% {
            background-position: 0% 20%;
        }
    }
    .BannerText{
        color: rgb(0, 38, 255);
        font-size: 30px;
        font-weight: bold;
        
    }
    .BannerBold{
        font-weight: bold;
        font-size: 30px;
        color: rgb(255, 255, 255);
        font-family: 'Arial';
        font-weight: 999;
        background-color: rgb(80, 92, 255);
        border-radius: 4px;
        padding: 1%;
    }

    .BannerText,
    .BannerBold {
        opacity: 0; /* 初始隐藏，不占用空间 */
        transition: opacity 0.3s ease; /* 添加过渡效果，使淡入淡出平滑 */
    }

    .Banner:hover .BannerText,
    .Banner:hover .BannerBold {
        opacity: 1; /* 当鼠标悬停在.Banner上时，淡入显示 */
    }