.container{
    position: relative;
    justify-content: center;
    align-items: center;
    display: flex;
    flex-direction: column;
    flex-wrap: nowrap;
}

#cards-large{
    display: flex;
    justify-content: center;
    width: 100%;
    min-height: 300px;
    position: relative;
    justify-content: center;
    align-items: flex-start;
    background: radial-gradient( farthest-corner at 50% -100px,#acb3ff, #3e44ff);
    border-radius: 20px;
    transition: 3s ease-in-out;
}
#cards-large .title{
    text-shadow: #285dff 0px 0px 10px;
    transition: 0.5s;
}

#cards-large:hover{
    height: auto;
    background: linear-gradient(to left, #9ea7ff, #282fff);
    transition: 1s;

}
    #cards-large:hover .imgShow{
        border-radius: 32px;
        box-shadow: 8px 8px rgba(101, 159, 253, 0.9);
        width: 20%;
        height: 40%;
        position:absolute;
        transform-origin: top left;
        transform: translate(-200%, 30px);
        cursor: pointer;
    }
    #cards-large:hover .title{
        text-shadow: #285dff 0px 0px 100px;
    }


.cards{
    display: flex;
    width: 60%;
    min-height: 250px;
    position: relative;
    justify-content: center;
    align-items: flex-start;
    background: linear-gradient(to right bottom, #6c7bff, #3e44ff);
    border-radius: 20px;
    transition: 3s ease-in-out;
    margin-top: 2rem;
    margin: 1rem;
    transition: 1s;
}
    

    .cards .card-content {
        position: relative;
        margin-top: 1rem;
        padding: 0.5rem;
        max-height: 0;
        transition: max-height 0.5s ease-out, padding 0.5s ease-out; 
        /* ↑添加过渡效果 */
        padding: 0;
        background-color: rgba(0, 0, 0, 0.¾); /* 降低透明度，可以根据需要调整 */
        color: white;
        z-index: 1; /* 确保内容½层叠在½图片之上 */
    }
        .cards .card-content .description {
            opacity: 0;
            visibility: hidden;
            transition: opacity 0.5s, visibility 0s 0.5s;
        }
    .cards .title {
        position: relative;
        color: white;
        font-size: 3rem; /* 增大字号，可以根据需要调整 */
        text-align: center;
        line-height: 1; 
        margin-top: 6rem;
        /* 适当调整行高，以便与图片重叠*/
    }
    .cards .description {
        font-weight: bold;
        text-align: center;
        line-height: 1.5; /* 调整行高以适合阅读 */
        margin-top:2rem;
        padding: 0;
    }
    .cards .link {
        color: white;
        text-decoration: none;
        background-color: #4617ff;
        border-radius: 8px;
        border-width: 3px;
        border-style: solid;
        -webkit-border-image: 
            linear-gradient(to right, #6c7bff, #ffffff) 1 repeat; /* Safari 6-9 */
        border-image: 
            linear-gradient(to right, #6c7bff, #ffffff) 1 repeat;
    }
    
    .cards .imgBx{
        width:100%;
        height: calc(100% - 50px);
        top:-10%;
        position: absolute;
        border-radius: 20px;
        transition: 0.5s;
        display: flex;
        justify-content: center;
        min-height: 150px;
    }
    .cards .imgShow{
        border-radius: 4px;
        border-width: 1px;
        border-style: solid;
        border-color: #4617ff;
    }
    .cards:hover{
        height: auto;
        background: linear-gradient(to left, #7785ff, #3e44ff);
    }
        .cards:hover .card-content{
            /* bottom: calc(16%); */
            max-height: 1000px;
            min-height: 50px;
        }
            .cards:hover .card-content .description {
                opacity: 1;
                visibility: visible;
                transition: opacity 0.5s;
            }
        .cards:hover .imgShow{
            border-radius: 32px;
            box-shadow: 8px 8px rgba(101, 159, 253, 0.9);
            width: 40%;
            height: 40%;
            position:absolute;
            transform-origin: top left;
            transform: translate(-130px, -30px);
            cursor: pointer;

        }
        .cards:hover .title{
            margin-top: 2rem;
        }