.TopTitle{
    color: rgb(255, 133, 57);
    font-size: 2rem;
}
.TopTitleBold {
    font-size: 8em;
    font-family: "MiSans VF";
    margin: 0;
    display: inline-block; /* 为了使背景渐变仅作用于文字，确保元素为inline-block或block */
    font-weight: bold; /* 假设需要加粗，可根据实际需求调整 */
    background: linear-gradient(to left, rgb(208, 0, 0),rgb(255, 98, 98), rgb(255, 174, 0),rgb(255, 35, 35));
    background-clip: text; /* 使背景渐变应用于文字 */
    color: transparent; /* 使文字颜色透明，显示背景渐变 */
    background-size: 300%;
    animation-name: TextAnim,WordFontWeight; /* 引用动画名称 */
    animation-duration: 1.5s; /* 引用动画名称及设置无限循环 */
    animation-iteration-count: infinite;
    animation-timing-function: cubic-bezier(.76,-0.01,.34,.99);
}

#sub {
  font-size:4rem;
  background: linear-gradient(to right, rgb(248, 170, 170),rgb(255, 98, 98), rgb(255, 201, 86),rgb(255, 111, 111));
  background-clip: text; /* 使背景渐变应用于文字 */
  background-size: 500%;
  font-family: "MiSans VF";
  font-weight:10;
  transition: 0.5s ease-in-out;
  animation:TextAnim 3s infinite;
}

#sub:hover{
  transform: rotate3d(1,1,0,30deg) skew(10deg,20deg);
  scale:1.5;
  font-weight:1000;
}

/* 定义动画关键帧 */
@keyframes TextAnim {
  0% { background-position: 0% 0%; }
  25% { background-position: 25% 0%; }
  50% { background-position: 50% 100%; }
  75% { background-position: 75% 100%; }
  100% { background-position: 0% 50%; }
}

@keyframes WordFontWeight {
  0% { font-weight: 170; }
  50% { font-weight: 670; }
  100% { font-weight: 170; }
}