@font-face {
  font-family: 'Aozorathin';         /* 定义字体名称 */
  src: url('./AozoraMincho-thin.ttf') format('truetype'); /* 指定字体文件路径和格式 */

}

/* 英雄区域 */
.hero {
    height: 100vh;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    text-align: center;
    padding: 0 20px;
    position: relative;
    overflow: hidden;
    color: white;
    background: linear-gradient(rgba(242, 244, 255, 0.2), rgba(194, 218, 255, 0.7));
}
.hero h1{
  font-family: '宋体';
  font-size: 3rem;
  margin-bottom: 20px;
  opacity: 0;
  transform: translateY(60px);
  color:#4492ff;
  animation: fadeUp 1s forwards 0.3s;
}


.top {
  display: flex;
}

.TopTitle{
  color: rgb(57, 80, 255);
  font-size: 2rem;
  font-family: 'MiSans';
  line-height: 120%;
  
}

.TitleBG {
  background: rgba(0, 76, 255, 0.288);
  width: 100%;
  left: 0;
  position: relative;
  align-self: center;
  align-content: center;
}

.ActiveBGColor {
  display: inline-block; /* 为了使背景渐变仅作用于文字，确保元素为inline-block或block */
  background: linear-gradient(to left, rgb(0, 76, 255),rgb(97, 144, 255), rgb(0, 102, 255),rgb(35, 108, 255));
  background-clip: text; /* 使背景渐变应用于文字 */
  color: transparent; /* 使文字颜色透明，显示背景渐变 */
  background-size: 300%;
  animation-name: TextAnim; /* 引用动画名称 */
  animation-duration: 1s; /* 引用动画名称及设置无限循环 */
  animation-iteration-count: 2 ;
  animation-timing-function: cubic-bezier(.76,-0.01,.34,.99);
  transition:0.5s;
}

.TopTitleBold {
  font-size: 6em;
  margin:1rem;
  /* transform: skew(-10deg,-2deg); */
  font-family: "MiSans VF";
  position: relative;
  text-align: center;
  width: 100%;
  display: inline-block; /* 为了使背景渐变仅作用于文字，确保元素为inline-block或block */
  font-weight: bold; /* 假设需要加粗，可根据实际需求调整 */
  background: linear-gradient(to left, rgb(0, 76, 255),rgb(97, 144, 255), rgb(0, 102, 255),rgb(35, 108, 255));
  background-clip: text; /* 使背景渐变应用于文字 */
  color: transparent; /* 使文字颜色透明，显示背景渐变 */
  background-size: 300%;
  animation-name: TextAnim,WordFontWeight; /* 引用动画名称 */
  animation-duration: 1s; /* 引用动画名称及设置无限循环 */
  animation-iteration-count: 2 ;
  animation-timing-function: cubic-bezier(.76,-0.01,.34,.99);
}

#sub {
  transition: 0.5s ease;
}

#sub .TopTitleBold{
  font-size:3rem;
  margin: 0;
  background: linear-gradient(to right, rgb(67, 136, 255),rgb(101, 255, 98), rgb(0, 106, 255),rgb(0, 255, 13));
  background-clip: text; /* 使背景渐变应用于文字 */
  background-size: 500%;
  font-family: "MiSans VF";
  font-weight:10;
  transition: 0.5s ease;
  animation:TextAnim 5s infinite;
}

#sub:hover {
  transform: skew(10deg,4deg);
}

#sub:hover .TopTitleBold{
  
  scale:1.2;
  font-weight:1000;
}

/* 定义动画关键帧 */
@keyframes TextAnim {
0% { background-position: 0% 0%; }
25% { background-position: 25% 0%; }
50% { background-position: 50% 100%; }
75% { background-position: 75% 100%; }
100% { background-position: 0% 50%; }
}

@keyframes WordFontWeight {
0% { font-weight: 670; }
50% { font-weight: 170; }
100% { font-weight: 670; }
}

.header {
  padding: 10px;
  border-radius: 20px;
  background-color: #d8e4ff;
  position: relative;
  margin: 40px;
  /* transform: skew(-10deg,-2deg); */
}

/* 新版翻转卡片效果 */

* {
    --Ani_fold: 0.5s cubic-bezier(.58,.01,.07,1.26);
}

@keyframes a_arrow {
  0%{
    transform: translateX(0px);
  }
  50% {
    transform: translateX(10px);
  }
  100% {
    transform: translateX(0px);
  }
}

a::before {
  content:'>';
  display: inline-flex;
  animation: a_arrow 1s infinite var(--Ani_fold);
  margin-right: 10px;
  color: white;
}

#folds {
  margin: 1rem 9rem;
}

#flips {
  margin: 1rem 9rem;
}

.foldcard {
    display: inline-flex;
    flex-direction: row;
    justify-self: center;
    width: 900px;
    perspective: 400px;
    margin: 2rem 0;
    transform-style: preserve-3d;
}

.foldleft {
    border-radius: 10px 0px 0px 10px;
    background-color: #b1d1ff;
    transition: all var(--Ani_fold);
    transform-origin: 100% 0%;
    padding: 10px;
}

.foldcard img {
    border-radius: 10px;
    display: inline-block;
    height: 300px;
    align-self: center;
    justify-self: center;
}

.foldcard .foldright {
    margin: 0rem;
    padding:22px;
    position: relative;
    display: flex;
    flex-direction: column;
    justify-content: center;
    justify-self: center;
    align-self: center;
    height:280px;
    border-radius: 0px 10px 10px 0px;
    background-color: #b1d1ff;
    transform: rotateY(100deg);
    transition: all var(--Ani_fold);
    transform-origin: 0% 50%;
}

.foldcard .foldright h1 {
    display: block;
    position: relative;
    margin-top: 0;
    line-height: 100%;
    font-family: 'MiSans';
    font-size: 2.5rem;
    transition: all 1s ease;
}
.foldcard .foldright h2 {
    display: block;
    position: relative;
    font-family: 'MiSans';
    font-weight: 400;
    line-height: 110%;
    margin-top: 0;
    transition: all 1s ease;
}

.foldcard .foldright a {
  color:#4492ff;
  display: block;
  text-align: center;
  overflow: hidden;
  text-decoration: none;
  font-family: 'MiSans';
  font-size: 1.5rem;
  font-weight: 800;
  position: absolute;
  bottom: 2rem;
  transition: all var(--Ani_fold);
}

.foldcard .foldright a::after {
    content: '';
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background-color: #acffa8;
    transform: scaleX(0); /* 初始缩放为0 */
    transform-origin: left;
    transition: var(--Ani_fold);
    z-index: -1;
}

.foldcard .foldright a:hover::after {
    transform: scaleX(1); /* 鼠标悬停时缩放为1 */
}

.foldcard .foldright a:hover {
  transform: scale(1.2);
  margin-left: 40px;
}

.foldcard:hover .foldright {
    transform: rotateY(0deg);
}
.foldcard:hover .foldleft {
    transform: rotateY(-20deg);
}

.flipcard {
    display: inline-flex;
    perspective: 600px;
    width:300px;
    height:300px;
}

.flip-front {
    position: absolute;
    transform: rotateY(0deg);
    transition: all 0.5s;
    z-index: 99;
}

.flipcard:hover .flip-front {
    transform: rotateY(180deg);
    z-index: -99;
}

.flip-front img {
    width: 100%;
    border-radius: 10px;
    /* border:#000000 solid 1px; */
}

.flipcard:hover .flip-front img {
  border:0;
}

.flipcard::before {
  left:-5px;
  border: solid 5px #000000;
  content: '';
  position: absolute;
  transform-origin: 50% 50%;
  justify-self: center;
  align-self:center;
  width: 100%;
  height: 100%;
  border-radius: 10px;
}
.flipcard:hover::before {
  animation: pulse_border 0.5s ease-in-out;
}
@keyframes pulse_border{
  0% {
    scale: 100%;
  }
  50% {
    scale: 130%;
  }
  100% {
    scale: 100%;
    transform: rotateY(-180deg);
  }
}
.flip-back {
    transform: rotateY(180deg);
    transition: all 0.5s;
    z-index: -99;
    background-color: #b1d1ff;
    padding: 20px;
    width: 100%;
    height: 100%-20px;
    border-radius: 10px;
    
}

.flipcard:hover .flip-back {
  transform: rotateY(360deg);
  z-index: 99;
}

.flip-back h1 {
    width: 200px;
    word-wrap: break-word;
    overflow-wrap: anywhere;
    white-space: normal;
    font-size: 2rem;
    font-family: 'MiSans';
    font-weight: 1000;
}

.flip-back p {
  font-size: 1.3rem;
  font-family: 'MiSans';
  line-height: 110%;
}

.flip-back a {
  color: #4492ff;
  display: block;
  line-height: 100%;
  bottom: 30px;
  position: absolute;
  text-align: center;
  text-decoration: none;
  transition: all var(--Ani_fold);
  font-size: 1.2rem;
}

.flip-back a:hover {
  color: #b4ffbe;
  font-weight: 1000;
  font-size: 1.3rem;
}




.content {
  position: relative;
  top: 200px;
}

.card-grid {
  display: flex;
  flex-wrap: wrap;
  gap: 16px;
  justify-content: center;
} 
                  

.contact {
  background: linear-gradient(to right, rgba(51, 105, 255, 0.749),#676fff);
  color:#ffffff;
  width:100%;
  left: 0;
  position: absolute;
  text-align: center;
  padding: 60px 20px;
  height: 30px;
  /* transform: skew(-10deg,-2deg) ; */
}

.contact h2 {
  font-size: 2rem;
  font-weight: 400;
  margin-top:-3rem;
}

.contact h3 {
  font-size: 1.2rem;
  font-weight: 100;
  line-height: 00%;
}

.social-link {
    display: flex;
    position: absolute;
    align-items: center;
    justify-content: center;
    width: 60px;
    height: 60px;
    border-radius: 50%;
    background: rgba(255, 255, 255, 0.1);
    color: white;
    font-size: 1.5rem;
    transition: var(--Ani_fold);
}

.social-link:hover {
    background: white;
    color: rgba(51, 105, 255, 0.749);
    transform: translateY(-10px);
}

@media (max-width: 768px){
  body {
      display: block;
      flex-direction: column;
      justify-content: space-around;
      flex-wrap: wrap;
  }
  .TopTitleBold {
      font-size: 10rem;
  }

  .TopTitle {
      font-size: 3rem;
  }

}
.fade-up-animation {
    animation: fadeUp 1s forwards 1.1s;
}
/* 动画 */
@keyframes fadeUp {
    100% {
        opacity: 1;
        transform: translateY(0);
    }
}

.fade-up-animation {
    animation: fadeUp 1s forwards 1.1s;
}

.appear {
    opacity: 1;
    transform: translateY(0) scale(1);
}